<form action="/api/Crud" method="post">
    <input type="checkbox" name="itemName"/>
    <input type="text" name="itemEarning"/>
    <input type="text" name="company_Identifier" />
    <input type="text" name="baseCompanyId" />
    <input type="button" id="baseSubmit" value="sendData" />
</form>
<label>Collect items marked checkboxes into a new base item</label>
<input type="button" value="Collect"/>

<form id="addItemBase" action="/api/Crud" method="post">
    <p>new Name for a base item</p>
    <input type="text" id="baseName" name="Name" />' +
    <p>new Earning for a base item</p>' +
    <input type="text" id="baseEarn" name="AnnualEarnings" />
    <input type="button" id="baseSubmit" value="sendData" /> 
    <input type="hidden" id="baseParent" />
    <input type="checkbox" />

    

</form>