 
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8"  />
    <title>Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <style>
        body 
        {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
            margin-left: 30px;
            margin-top: 30px;
            background-color: silver;
        }
        div 
        {

        }
        p {
            margin: 0;
        }
        .wrapBlock {
            margin-top: 10px;
            font-family:Courier New, Courier, monospace;
            font-size: 18px;
        }
        .wrapBlock i{
            background-color: darkgrey;
            width: 40px;
            border-radius: 3px;
            margin-right: 10px;
            color: #000;
            text-align: center;
            line-height: 25px;
        }
        .align{
            margin-right: 20px;
        }

        /**/
        #modal_form,#putForm{
	width: 300px; 
	height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
#modal_form{
    background: #fff;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close, #putForm #PUT_close{
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
#putForm {
    width: 300px;
    height: 100px;
    background-color: darkgreen;
        }
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
    </style>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function ()
        {
            // create reference to adding a base company
            var additionBase = $('<input type="checkbox" />');
            additionBase.addClass('addBaseHandler');

            // add CRUD on View for current item
            var createButton = $('<a href="#"><i class="fa fa-plus"></i></a>');
            createButton.addClass('addSubItem');
            
            var readButton = $('<a href="#"><i class="fa fa-id-card-o"></i></a>');
            readButton.addClass('readBranch');

            var updateButton = $('<a href="#"><i class="fa fa-pencil"></i></a>');
            updateButton.addClass('updateItem');

            var deleteButton = $('<a href="#"><i class="fa fa-times"></i></a>');
            deleteButton.addClass('deleteItem');

            var $addForm = $('<form id ="addItemBase" >' +
                                 '<p>write Name of a new company</p>' +
                                 '<input type="text" id="baseName" name="Name"/>' +
                                 '<p>write Earnings for a new company </p>' +
                                 '<input type="text" id="baseEarn" name="AnnualEarnings"/>' +
                                 '<input type="button" id="baseSubmit" value="sendData" />' +
                                 '<input type="button" id="closeForm" value="close" />' +
                                 '<input type="hidden" id="baseParent" value=""/>' +
                                 '</form>');
            var labelCollector
                       = $('<label>link sibling items marked checkboxes into a new base item <br/> for them ' +
                'or create a new item -> </label>');
            var butCollector = $('<input type="button" id="Unite" value="Collect"/>');
            
            var checkboxes = [];
            var itemsIdsForRead =[];

            $('body').prepend(butCollector);
            $('body').prepend(labelCollector);
            function load(){
                $.ajax({
                    type: 'Get',
                    url: '/api/Crud',
                    dataType: 'json',
                    success: function (data)
                    {
                        $.each(data, function (index, value)
                        {
                            var myDiv = $('<div></div>')
                            .attr('id', value.company_Identifier);
                            myDiv.addClass('wrapBlock');

                            myDiv.html('<span class="align"> '+
                            value.Name+ '|' + value.AnnualEarnings+'</span>');

                            // appends
                            if (value.baseCompanyId == null) {
                   
                                $(myDiv).prepend(additionBase.clone());
                                $('#tree').append(myDiv);
                    
                                myDiv.prepend('<span class="tab" style="margin-left: ' + 0 + 'px"></span>');
                            }
                            else {
                                var baseId = value.baseCompanyId;
          
                                var span = parseInt($('#'+baseId).find('span').css('margin-left'));
                                if (isNaN(span)) span = 0;
                 
                                $(myDiv).prepend(additionBase.clone());
                                myDiv.prepend('<span class="tab" style="margin-left: ' + (span +40) + 'px"></span>');

                                $('#' + baseId).append(myDiv);
                            }
               
                            $(myDiv).append(createButton.clone());
                            $(myDiv).append(readButton.clone());
                            $(myDiv).append(updateButton.clone());
                            $(myDiv).append(deleteButton.clone());

                        });
                       
                        $('#Unite').on('click', function () {
                            checkboxes = [];
                            $(this).after($addForm);
                            var box = $('.addBaseHandler:checked');

                            var par = box.eq(0).parent().parent().attr('id');
                            $("#baseParent").val(par);
                            //   console.log(par);
                            var point;
                            var Div;
                            $.each(box, function (index, value) {
                                Div = $(value).parent();
                                point = Div.attr('id');
                                checkboxes.push(point);
                            })
                            //console.log('checkboxes ' + checkboxes);
                        });
                        $('.addSubItem').on('click', function () {
                            EventAddingBinder($(this));
                            /*
                            alert('clicked');
                            $('#Unite').after($addForm);
                            var par = $(this).parent().attr('id');
                            $("#baseParent").val(par);

                            $('.addBaseHandler').prop('checked', false);
                            checkboxes = [];
                            */
                        });
                        $('.readBranch').on('click', function () {
                            EventReadingBinder($(this));
                            /*
                            itemsIdsForRead = [];
                            var $branches = $(this).parent().parent().find('div.wrapBlock');
                       
                            $.each($branches, function (index) {
                                itemsIdsForRead.push($(this).attr('id'));
                            });                   
                       
                            $.ajax({
                                url: '/api/Crud/ids/ByIds',
                                type: 'Get',
                                dataType: 'json',
                                //сontentType: 'application/x-www-form-urlencoded',
                                data: { "ids": itemsIdsForRead },
                                сontentType: 'application/json',
                                success: function (data) {
                                    // Spreads(data);
                                    $('#overlay').fadeIn(400, // снaчaлa плaвнo пoкaзывaем темную пoдлoжку
                                    function () { // пoсле выпoлнения предъидущей aнимaции
                                        $('#modal_form')
                                        .css('display', 'block') // убирaем у мoдaльнoгo oкнa display: none;
                                        .animate({ opacity: 1, top: '50%' }, 200); // плaвнo прибaвляем прoзрaчнoсть oднoвременнo сo съезжaнием вниз
                                        $('#modal_form').find('#modal_content')
                                            .append(Spreads(data));

                                    });
                               
                                }
                            });
                            */
                        });
                        $('.updateItem').on('click', function () {
                            EventPuttingBinder($(this));
                            /*
                            var par = $(this).parent().attr('id');
                            $("#putId").val(par);
                            // показать окно
                            $('#putForm')
                            .css('display', 'block') 
                            .animate({ opacity: 1, top: '50%' }, 200);
                            */
                        });
                        $('.deleteItem').on('click', function ()
                        {
                            EventDeletingBinder($(this));
                            /*
                            var delId = parseInt($(this).parent().attr('id'));                  
                            $.ajax({
                                url: '/api/Crud/One',
                                type: 'delete',
                                data:
                                    {
                                        "company_Identifier": delId,
                                        "Name": '',
                                        "AnnualEarnings": '',
                                        "baseCompanyId": ''                                    
                                    },
                                dataType: 'json',
                                сontentType: 'application/json',
                                success: function (data)
                                {
                                    var Base;
                                    var $Derivatives;
                                   
                                    $.each(data,function(index, value)
                                    {
                                        if(typeof $Derivatives =='undefined'){
                                            $Derivatives = $('#' + value.company_Identifier);
                                            Base = value. baseCompanyId;
                                        }
                                        else 
                                            $Derivatives.add('#'+ value.company_Identifier);
                                    });
                                    console.log(Base);
                                    if (Base != null)
                                    {
                                        $Derivatives.find('span.tab').css('margin-left',
                                            $Derivatives.parent().find('span.tab').css('margin-left'));

                                        $Derivatives.unwrap();
                                        $('#' + Base).prepend($Derivatives);
                                    }
                                    else
                                    {
                                        $Derivatives.find('span.tab').val(0);
                                    }
                                }
                            });
                            */
                        });
                        $('#putForm').find('#putSubmit').on('click', function ()
                        {
                            $.ajax({
                                url: '/api/Crud/put',
                                type: 'Put',
                                dataType: 'json',
                                сontentType: 'application/x-www-form-urlencoded',
                                data: {                                
                                    "company_Identifier" :
                                    $('#putForm').find('#putId').val(),
                                    "Name" :
                                    $('#putForm').find('#putName').val(),
                                    "AnnualEarnings" :
                                    $('#putForm').find('#putEarn').val(),
                                    "baseCompanyId" :
                                    $('#putForm').find('#putParent').val()                                
                                },
                                success: function (data) {
                                    $('#' + data.company_Identifier)
                                    .find('span.align')
                                    .text(data.Name +'|' +data.AnnualEarnings);
                                }
                            });

                        });
                        $addForm.find('#baseSubmit').on('click', function () {
                            //  console.log($('#baseParent').val());
                            //    console.log(checkboxes);
                            $.ajax({
                                url: '/api/Crud',
                                type: 'Post',
                                dataType: 'json',
                                сontentType: 'application/x-www-form-urlencoded',
                                data: {
                                    "company":
                                        {
                                            company_Identifier: '',
                                            Name: $('#baseName').val(),
                                            AnnualEarnings: $('#baseEarn').val(),
                                            baseCompanyId: ''
                                        },

                                    "childs": checkboxes,
                                    "parent": $('#baseParent').val()
                                },
                                success: function (data) {
                                   /* $('#tree').empty();
                                    return load();*/
                                    // define block
                                    var $bDiv = $('<div></div>')
                                    .attr('id', data.company.company_Identifier);
                                    $bDiv.addClass('wrapBlock');

                                    $bDiv.html('<span class="align"> ' +
                                    data.company.Name + '|' + data.company.AnnualEarnings + '</span>');

                                    var span = 0;
                                    // if parent is exists
                                    var $parent;
                                    //  console.log('FirstParent'+data.parent);
                                    // if parent does not exist
                                    if (data.parent == null) {
                                        $parent = $('body').find('#tree');
                                        $($parent).prepend($bDiv);
                                        span = -40;
                                    } else {
                                        var $parent = $('#' + data.parent);
                                        //     console.log($parent.attr('id'));
                                        span = parseInt($parent.find('span.tab').css('margin-left'));
                                        if (isNaN(span)) span = 0;
                                        console.log('span' + span);
                                        $parent.append($bDiv);
                                    
                                    }
                                    // add links
                                
                                    $bDiv.prepend('<span class="tab" style="margin-left: ' + (span + 40) + 'px"></span>');
                                    $($bDiv).find('span.tab').after(additionBase.clone());

                                    $($bDiv).append(createButton.clone()
                                        .on('click', function () {
                                            EventAddingBinder($(this));
                                        })
                                        );
                                      
                                    $($bDiv).append(readButton.clone()
                                        .on('click', function () {
                                            EventReadingBinder($(this));
                                        })
                                        );
                                    $($bDiv).append(updateButton.clone()
                                        .on('click', function () {
                                            EventPuttingBinder($(this));
                                        })
                                        );
                                    $($bDiv).append(deleteButton.clone()
                                        .on('click', function () {
                                            EventDeletingBinder($(this));
                                        })
                                        );
                                    // if children
                                    if (data.childs.length > 0) {
                                       
                                        var sp = parseInt( $parent.children('div')
                                            .children('span.tab').first().css('margin-left'));
                                        if (isNaN(sp)) sp = 0;
                                   //      console.log('sp' + sp);
                                        var $children = $([]);
                                        data.childs.forEach(function (item, index, array) {
                                            $children.push($('#' + item));
                                   //       console.log(item);
                                        });
                                        $children.each(function (index, value) {
                                   //       console.log('index' + index);
                                            var p = value.attr('id');
                                  //        console.log(p);
                                            $('div#' + p).appendTo($bDiv);
                                           
                                            var spans =[];
                                            var temp = $('div#' + p).find('span.tab');
                                            temp.each(function (index, value) {
                                                var p = parseInt($(value).css('margin-left'));
                                                $(value).css('margin-left', p + 40);
                                            });

                                   //       console.log('spans' + spans);
                                        });
                                    }
                                }
                            })
                                .fail(function () {
                                    alert('data is not added');
                                });
                        });
                        $addForm.find('#closeForm').on('click', function () {
                            $(this).parent().detach();

                        });
                    }}); 
            }
            load();
            function EventAddingBinder($Elem)
            {
               // alert('clicked');
                $('#Unite').after($addForm);
                var par = $Elem.parent().attr('id');
                $("#baseParent").val(par);
                $('.addBaseHandler').prop('checked', false);
                checkboxes = [];
            }
            function EventReadingBinder($Elem)
            {
        //        alert('Readig');
                itemsIdsForRead = [];
                var $head = $Elem.parent();
                itemsIdsForRead.push($head.prop('id'));
                console.log('$head' + $head.prop('id'));
                var $branches = $head.find('div.wrapBlock');
                console.log($branches);
                $branches.each(function (index) {
                    itemsIdsForRead.push($(this).prop('id'));
                });
                console.log(itemsIdsForRead);
                $.ajax({
                    url: '/api/Crud/ids/ByIds',
                    type: 'Get',
                    dataType: 'json',
                    //сontentType: 'application/x-www-form-urlencoded',
                    data: { "ids": itemsIdsForRead },
                    сontentType: 'application/json',
                    success: function (data) {
                        // Spreads(data);
                        $('#overlay').fadeIn(400, // снaчaлa плaвнo пoкaзывaем темную пoдлoжку
                        function () { // пoсле выпoлнения предъидущей aнимaции
                            $('#modal_form')
                            .css('display', 'block') // убирaем у мoдaльнoгo oкнa display: none;
                            .animate({ opacity: 1, top: '50%' }, 200); // плaвнo прибaвляем прoзрaчнoсть oднoвременнo сo съезжaнием вниз
                            $('#modal_form').find('#modal_content')
                                .append(Spreads(data));

                        });

                    }
                });
            }
            function EventPuttingBinder($Elem)
            {
                var par = $Elem.parent().attr('id');
                $("#putId").val(par);
                // показать окно
                $('#putForm')
                .css('display', 'block')
                .animate({ opacity: 1, top: '50%' }, 200);
            }
            function EventDeletingBinder($Elem)
            {
                var delId = parseInt($Elem.parent().attr('id'));
                $.ajax({
                    url: '/api/Crud/One',
                    type: 'delete',
                    data:
                        {
                            "company_Identifier": delId,
                            "Name": '',
                            "AnnualEarnings": '',
                            "baseCompanyId": ''
                        },
                    dataType: 'json',
                    сontentType: 'application/json',
                    success: function (data) {
                        var derived = data.childs;
                        var Base = data.parent;
                        var curr = data.company.company_Identifier;
                        var $Derivatives;

                        if (typeof derived != 'undefined')
                        {
                            derived.forEach(function (item, index, array) {
                                if (typeof $Derivatives == 'undefined')
                                    $Derivatives = $('#' + item);
                                else {                                   
                                    $Derivatives.add($('#' + item));
                                }
                            });
                            
                            $Derivatives.find('span.tab').css('margin-left',
                            $Derivatives.parent().find('span.tab').css('margin-left'));
                            
                            if (typeof $Derivatives != 'undefined') {
                                if (Base == null) {
                                    $('#tree').append($Derivatives);
                                }
                                else {
                                    $('#' + Base).append($Derivatives);
                                }
                            }
                        //    console.log('derived:' + $Derivatives);
                        }                       
                        $('#' + curr).remove();                       
                    }
                });
            }
            function Spreads(data)
            {
                var str =[];
                $.each(data, function(index, value)
                {
                    if (index == 0) {
                        str.push ( '<li>' + value.Name + ' | ' +
                            value.AnnualEarnings + '</li>');
                        str.push('<li> depended companies: </li>');
                    } else
                    {
                        str.push( '<li>' + value.Name+ '|'+value.AnnualEarnings+ ' ;' + '</li>');
                    }
                    //console.log(str);
                });
                return str;
            }
            /* Зaкрытие мoдaльнoгo oкнa, тут делaем тo же сaмoе нo в oбрaтнoм пoрядке */
            $('#modal_close, #overlay').click(function () { // лoвим клик пo крестику или пoдлoжке
                $('#modal_form')
                    .animate({ opacity: 0, top: '45%' }, 200,  // плaвнo меняем прoзрaчнoсть нa 0 и oднoвременнo двигaем oкнo вверх
                        function () { // пoсле aнимaции
                            $(this).css('display', 'none'); // делaем ему display: none;    
                            $('#overlay').fadeOut(400);
                            $('#modal_form').find('#modal_content').empty();
                        }
                    );
            });
            $('#PUT_close').on('click', function () {
                $('#putForm').css('display', 'none');
            });
            $('#putForm').find('#cleanPuting').on('click', function () {
                $('#putForm').find('input[type="text"]').val('');          
            });
            
        });
    </script>
</head>
<body>
    <div id="modal_form">
        <!-- Сaмo oкнo -->
        <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
        <!-- Тут любoе сoдержимoе -->
        <ul id="modal_content"></ul>
    </div>
    <div id="overlay"></div><!-- Пoдлoжкa -->
    <div id="tree"></div>
    <div id="putForm">
        <!-- Сaмo oкнo -->
        <span id="PUT_close">X</span> <!-- Кнoпкa зaкрыть -->

        <p>rewrite a name for the company</p>
        <input type="text" id="putName" name="Name" />
        <p>rewrite annualEarnings for the company </p>
        <input type="text" id="putEarn" name="AnnualEarnings" />
        <input type="button" id="putSubmit" value="Update" />
        <input type="button" id="cleanPuting" value="clean" />
        <input type="hidden" id="putParent" value="" />
        <input type="hidden" id="putId" value="" />
    </div>
</body>

</html>
